ENTRADA_S3_BUCKET=entrada-test
ENTRADA_S3_ACCESS_KEY=
ENTRADA_S3_SECRET_KEY=
ENTRADA_S3_REGION=
ENTRADA_S3_ENDPOINT=

ICEBERG_S3_BUCKET=sidnlabs-iceberg-data
ICEBERG_S3_ACCESS_KEY=rusfsadmin
ICEBERG_S3_SECRET_KEY=
ICEBERG_S3_REGION=
ICEBERG_S3_ENDPOINT=

MAXMIND_LICENSE_PAID=

ENTRADA_MESSAGING_REQUEST_NAME=entrada-test-s3-event
ENTRADA_MESSAGING_COMMAND_NAME=entrada-test-command
ENTRADA_MESSAGING_LEADER_NAME=entrada-test-leader

ICEBERG_CATALOG_DB_USER=iceberg
ICEBERG_CATALOG_DB_PASSWORD=